{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}


      <!-- Jumbotron Header -->
<div class="container-fluid" style="padding:0;">
  <div class="jumbotron jumbo-main" style="text-align:center;">
    <h1 class="display-3 text-center" style="font-size:6vw;">Get Active and Go Play!</h1>
    <p class="lead text-center" style="font-size:2vw;padding-bottom:1em;">A website to connect people looking to meet up and play sports.</p>
    <div class="btn-group buffer">
      <a id="location-btn" href="/locations" class="btn btn-primary">Search locations</a>
    </div>
  </div>

</div>

<div class="container-fluid" style="padding:0;">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 style="color:white;padding-top:3%;" class="text-center">Use the Google Maps interface</h1>
        <h3 style="color:white" class="text-center">Navigate the map and find a location you want to play at.</h3>
        <img src="{% static '/images/locations.png' %}" style="height:60%;width:auto;" class="center" alt="">
      </div>
      <div class="carousel-item">
        <h1 class="text-center" style="color:white;padding-top:1%;">Create an event and set the date and time</h1>

        <div class="row" style="height:100%;">
          <div class="col">
            <img src="{% static '/images/create_date.png' %}" style="height:85%;width:30%;margin:auto;display:block;padding-bottom:2%;"  alt="">
          </div>
          <div class="col">
            <img src="{% static '/images/create_time.png' %}" style="height:85%;width:30%;margin:auto;display:block;padding-bottom:2%;"  alt="">
          </div>
        </div>
      </div>
      <div class="carousel-item">
            <h1 style="color:white;padding-top:3%;" class="text-center">Get notified when a newly created event matches your preferences.</h1>
            <img src="{% static '/images/notification.png' %}" style="height:60%;width:25%;" class="center" alt="">
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

<!-- <hr class="style1"> -->

<!-- container -->

  <footer id="footer" class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; GAGP 2018</p>
    </div>
  </footer>


{% endblock %}
