{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}



      <!-- Jumbotron Header -->
<div class="container-fluid" style="padding:0;">
  <div class="jumbotron jumbo-main" style="text-align:center;">
    <h1 class="display-3 text-center" style="font-size:6vw;">Get Active and Go Play!</h1>
    <p class="lead text-center" style="font-size:2vw;padding-bottom:1em;">A website to connect people looking to meet up and play sports.</p>
  </div>

</div>

<div class="container-fluid" style="padding:0;">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active text-center">
        <h1 style="color:white;padding-top:4%;">Use the Google Maps interface</h1>
        <h3 style="color:white">Navigate the map and find a location you want to play at.</h3>
        <div class="btn-group buffer">
          <a id="location-btn" href="/locations" class="btn btn-primary">Search locations</a>
        </div>
      </div>
      <div class="carousel-item text-center">
        <h1 class="text-center" style="color:white;padding-top:4%;">Set your preferences and get notified when new events fire off!</h1>
        <h3 style="color:white;">Head over to your profile page to set your prefered activities.</h3>
        <div class="btn-group buffer">
          <a id="profileBtn" href="/profile" class="btn btn-primary text-center" style="margin-top:8%;">View my profile</a>
        </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

<!-- <hr class="style1"> -->

<!-- container -->

  <footer id="footer" class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; GAGP 2018</p>
    </div>
  </footer>


{% endblock %}
