{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-signin">
  <h1 class="text-center">Welcome</h1>

  <h2 class="text-center" style="font-size:4vw;">
    You can log in here!
  </h2>

  <form method="post">
    {% csrf_token %}
    <input type="username" name="username" autofocus class="form-control" placeholder="Username" required id="id_username" /><br>
    <input type="password" name="password" required class="form-control" placeholder="Password" required id="id_password" />
    <p style="text-align:center;"><a href="/register">Dont have an account?<br> Register here!</a></p>
    <button class="btn btn-primary btn-block" type="submit">Login</button><br>
    <p style="text-align:center;"><strong> -- OR -- </strong></p>
     <a class="btn btn-lg btn-primary btn-block" href="{% url 'social:begin' 'google-oauth2' %}" style="color:white;">
        <img src="{% static 'images/google-signin.png' %}" style="width:10%;height:auto;">Login with Google
     </a>
     <a class="btn btn-lg btn-primary btn-block" href="#" style="color:white;">
        <img src="{% static 'images/facebook-signin.png' %}" style="width:10%;height:auto;"> Login with Facebook
     </a>
  </form>

</div>


<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modalLabel">Incorrect username or password</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="color: black">Make sure you are entering the corrent username and password and try again.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script>
if('{{form.errors}}' != '') {
  $('#errorModal').modal('toggle');
}
</script>
{% endblock %}
